.container {
  border: 3px solid #3C1010;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 0;
  width: 60%;
  height: 700px;
}

.searchForm {
  border-bottom: 3px solid #3C1010;
  height: 40%;
  width: 100%
}

.infoForm {
  padding: 2%;
}
